body {
    margin: 0;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(77, 161, 77, 0.459);
    border-radius: 0 0 12px 12px;
    width: 70%;
}

nav li {
    float: left;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav a {
    display: block;
    color: rgb(1, 56, 1);
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

nav a:hover {
    color: green;
}

nav a:active {
    color: white;
}

section {
    margin-top: 50px;
    text-align: center;
    color: rgb(1, 56, 1);
}

#lightgreen {
    color: rgb(3, 108, 3);
}

main {
    background-color: rgba(77, 161, 77, 0.459);
    border-radius: 12px;
    color: rgb(1, 56, 1);
    padding: 30px;
    width: 70%;
    margin: 50px auto;
    }

#flower {
    width: 150px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

p ul {
    list-style-type: circle;
}

footer {
    background-color: rgba(77, 161, 77, 0.459);
    width: 100%;
    height: 80px;
    color: rgb(1, 56, 1);
    text-align: center;
    padding-top: 30px;
}
